<%- include('partials/header'); -%>

<!-- home  -->
<div class="heading px-5">

<h1><%= postItems[0].title %></h1
      <p><%=postItems[0].body%></p>


      <%   for (var i = 1; i <postItems.length; i++) {%>
<h1><%= postItems[i].title %></h1>
      <p><%=  postItems[i].body.slice(0,100)%><a href="/posts/<%= postItems[i].title.toLowerCase() %>">Read more</a></p>


        <%   }%>


</div>



<%- include('partials/footer'); -%>
